<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
    
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center flex" style="background-color: green; margin: 0; color: white;" :style="{'width': healthLevel.You + '%'}">
                  <p style="margin: auto">{{ healthLevel.You }}</p>
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center flex" style="background-color: green; margin: 0; color: white;" v-bind:style="{'width': healthLevel.Monster + '%'}">
                  <p style="margin: auto">{{ healthLevel.Monster}}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameStatus">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="quitGame">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="playHistory.length !== 0">
        <div class="small-12 columns">
            <ul v-for="play in playHistory">
                <li :class="[{'player-turn': play.turnPlayer}, {'monster-turn': play.turnMonster}]">
                  {{play.player}}
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>